<%= form_tag "/form_result_url", method: :post do %>
  <div>
    <label for="">Enter message: </label>
    <input type="text" name="guessed_number">
  </div>
  <div>
    <input type="submit" value="Submit Message!">
  </div>
<% end %>