<h1>let's play a game user muhahahaha guess a number</h1>
<p> <%= @message %></p>
<!-- <form action="/recipes" method= "post">
<div>
Title: <input type="text" name="recipe_title" />
</div> -->
<!-- <div> -->