<p> <%= @message %></p>
<button onclick="goBack()">Go Back</button>
<!-- <a href="/form_params_url"><button>Go back</button></a> -->

<script>
function goBack() {
    window.history.back();
}
</script>